---
const { to, title } = Astro.props;
---

<a href={to} title={title} class="text-sm text-vulcan-300 hover:text-white inline-flex">
    {title}
    <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 16 16"
            class="w-3 ml-1"
    ><path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M6.25 3.75h6m0 0v6m0-6-8.5 8.5"></path></svg
    >
</a>
